header {
   
}

body {
    background-color: #f3ffb9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #19647e;
}

li {
    float: left;
}

li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #0e1116 (black) on hover */
li a:hover {
    background-color: #0e1116;
}



h1{
      
}


p {
    font-family: verdana;
    font-size: 20px;
}
